html, body, h1, h2, h3, p, a{margin:0; padding: 0}

@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700');
body{font-family: 'Ubuntu', sans-serif;}

$color-sari: #fef102;
$color-lacivert: #004684;
$color-lacivert-dark: #060726;

.hide{
	display: none !important;
}

.fenerium{background:$color-sari;}
.migros{background:$color-lacivert;}
.maraton{background:$color-sari;}
.turkTelekom{background:$color-lacivert;}


body.tribunePage{
	background: $color-lacivert;
	width: 100%;
	height: 100vh;

	.main-wrapper{
		width: 100%;
		height: 100vh;
		position: fixed;

		.col-one{height: 55vh;}
		.col-two{height: 40vh;}
		.col-three{height: 0vh;}

		.coloumns{
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;

			h1{
				color: $color-sari;
				font-size: 4em;
			}
			h2{
				color: $color-sari;
				font-size: 3em;
			}

			.tribuneBtnSec{
				width: 100%;
			    height: 100%;
			    text-align: center;
			    
			    .tribuneBtn{
			    	width: 100%;
			    	background: #013461;
		    	    padding: 25px 0;
		    	    height: 100px;
		    	    margin: 5px 0;
		    	    line-height: 95px;
			    }
			}
		}
	}
}

body.adminPage{
	background: $color-lacivert;
	width: 100%;
	height: 100vh;

	.main-wrapper{
		width: 100%;
		height: 100vh;
		position: fixed;

		.col-one{height: 25vh;}
		.col-two{height: 70vh;}
		.col-three{height: 0vh;}

		.coloumns{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			h1{
				color: $color-sari;
				font-size: 4em;
			}
			h2{
				color: $color-sari;
				font-size: 3em;
			}
			.switch-wrap{
				width: 100%;
				text-align: center;
				margin-bottom: 15px;

				.switch-toggle {
					position: relative;
					display: inline-block;
					width: 90vw;
					height: 200px;
					border-radius: 25px;
					margin: 5px 0;
					background-color: #efefef;
				}

				.switch-toggle input {
					display: none;
				}

				.switch-toggle div {
					position: absolute;
					border-radius: 50%;
					background-color: $color-sari;
					transition: .1s ease;
				}

				.switch-toggle input:checked + div {
					left: 50%;
					background-color: $color-lacivert;
				}

				.switch-toggle.rect {
					border-radius: 0;
				}

				.switch-toggle.rect div {
					border-radius: 0;
				}

				.switch-toggle.inner div {
					width: 50%;
					height: 199px;
					top: 1px;
					left: 1px;
					
				}
				
			}


		}
	}
}