@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,500,700");
html, body, h1, h2, h3, p, a {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Ubuntu', sans-serif; }

.hide {
  display: none !important; }

.fenerium {
  background: #fef102; }

.migros {
  background: #004684; }

.maraton {
  background: #fef102; }

.turkTelekom {
  background: #004684; }

body.tribunePage {
  background: #004684;
  width: 100%;
  height: 100vh; }
  body.tribunePage .main-wrapper {
    width: 100%;
    height: 100vh;
    position: fixed; }
    body.tribunePage .main-wrapper .col-one {
      height: 55vh; }
    body.tribunePage .main-wrapper .col-two {
      height: 40vh; }
    body.tribunePage .main-wrapper .col-three {
      height: 0vh; }
    body.tribunePage .main-wrapper .coloumns {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
      body.tribunePage .main-wrapper .coloumns h1 {
        color: #fef102;
        font-size: 4em; }
      body.tribunePage .main-wrapper .coloumns h2 {
        color: #fef102;
        font-size: 3em; }
      body.tribunePage .main-wrapper .coloumns .tribuneBtnSec {
        width: 100%;
        height: 100%;
        text-align: center; }
        body.tribunePage .main-wrapper .coloumns .tribuneBtnSec .tribuneBtn {
          width: 100%;
          background: #013461;
          padding: 25px 0;
          height: 100px;
          margin: 5px 0;
          line-height: 95px; }

body.adminPage {
  background: #004684;
  width: 100%;
  height: 100vh; }
  body.adminPage .main-wrapper {
    width: 100%;
    height: 100vh;
    position: fixed; }
    body.adminPage .main-wrapper .col-one {
      height: 25vh; }
    body.adminPage .main-wrapper .col-two {
      height: 70vh; }
    body.adminPage .main-wrapper .col-three {
      height: 0vh; }
    body.adminPage .main-wrapper .coloumns {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      body.adminPage .main-wrapper .coloumns h1 {
        color: #fef102;
        font-size: 4em; }
      body.adminPage .main-wrapper .coloumns h2 {
        color: #fef102;
        font-size: 3em; }
      body.adminPage .main-wrapper .coloumns .switch-wrap {
        width: 100%;
        text-align: center;
        margin-bottom: 15px; }
        body.adminPage .main-wrapper .coloumns .switch-wrap .switch-toggle {
          position: relative;
          display: inline-block;
          width: 90vw;
          height: 200px;
          border-radius: 25px;
          margin: 5px 0;
          background-color: #efefef; }
        body.adminPage .main-wrapper .coloumns .switch-wrap .switch-toggle input {
          display: none; }
        body.adminPage .main-wrapper .coloumns .switch-wrap .switch-toggle div {
          position: absolute;
          border-radius: 50%;
          background-color: #fef102;
          transition: .1s ease; }
        body.adminPage .main-wrapper .coloumns .switch-wrap .switch-toggle input:checked + div {
          left: 50%;
          background-color: #004684; }
        body.adminPage .main-wrapper .coloumns .switch-wrap .switch-toggle.rect {
          border-radius: 0; }
        body.adminPage .main-wrapper .coloumns .switch-wrap .switch-toggle.rect div {
          border-radius: 0; }
        body.adminPage .main-wrapper .coloumns .switch-wrap .switch-toggle.inner div {
          width: 50%;
          height: 199px;
          top: 1px;
          left: 1px; }

/*# sourceMappingURL=style.css.map */
